<%= form_for([@articulo, @articulo.comentarios.build]) do |form| %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_area :nombre, id: :comentario_nombre %>
  </div>

  <div class="field">
    <%= form.label :texto %>
    <%= form.text_area :texto, id: :comentario_texto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
