
<div class="container">
  

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" <%= link_to 'Home Navbar', articulos_index_path %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link"<%= link_to 'Blog', articulos_index_path %></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link"<%= link_to 'Contacto', estaticas_contacto_path %></a>
      </li>

      <li class="nav-item">
        <a class="nav-link"<%= link_to 'Nosotros', estaticas_nosotros_path %></a>
      </li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <% if !autor_signed_in? %>
        <li><%= link_to 'Iniciar Sesión', new_autor_session_path %></li>
      <% else %>
        <li><%= link_to 'Nuevo Artículo', new_articulo_path  %></li>&nbsp&nbsp&nbsp
        <li><%= link_to 'Cerrar Sesión', destroy_autor_session_path, method: :delete %></li>
      <% end %>
    </ul>
    
  </div>
</nav>

</div>

